<!--<div *ngIf="applicant">
    <div>
        <label>First Name: </label> {{applicant.id}}
    </div>
    <div>
        <label>Email: </label> {{applicant.fullname}}
    </div>
    <div>
        <label>Email: </label> {{applicant.loanStatus}}
    </div>
</div>-->
<div class="application-detail">
    <div class="row">
        <div class="column">Applicant ID</div>
        <div class="column">Name</div>
        <div class="column">Status</div>
    </div>

    <div class="row">
        <div class="column">1212212</div>
        <div class="column">Sharath</div>
        <div class="column">Declined</div>
    </div>

    <div class="row">
        <div class="column">2323</div>
        <div class="column">Sourav</div>
        <div class="column">Declined</div>
    </div>

    <div class="row">
        <div class="column">2323</div>
        <div class="column">Vatsal</div>
        <div class="column">Approved</div>
    </div>
</div>