<div class="container">
    <h2>Submit new application</h2>
    <form (submit)="onSubmit()">
        <div id="form-row1">
            <div class="info-column">
                
                <div id="basic-info">
                    <p>Basic information</p>
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.fullName" name="fullName" maxlength="255" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Middle Name</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.middleName" name="middleName"
                            maxlength="255">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.lastName" name="lastName" maxlength="255" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker1></mat-datepicker>
                        <input matInput [matDatepicker]="datepicker1" placeholder="Date of birth"
                            [(ngModel)]="applicant.dOB" name="dOB">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Marital status</mat-label>
                        <mat-select placeholder="Marital Status" [(ngModel)]="applicant.maritalStatus"
                            name="maritalStatus" required>
                            <mat-option value="Single">Single</mat-option>
                            <mat-option value="Married">Married</mat-option>
                            <mat-option value="Separated">Separated</mat-option>
                            <mat-option value="Divorced">Divorced</mat-option>
                            <mat-option value="Widowed">Widowed</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>SSN Number</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.sSN" name="sSN" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Loan amount</mat-label>
                        <input matInput type="number" [(ngModel)]="applicant.loanAmount" name="loanAmount" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Loan purpose</mat-label>
                        <mat-select placeholder="Loan Purpose" [(ngModel)]="applicant.loanPurpose" name="loanPurpose" required>
                            <mat-option value="Debt">Debt</mat-option>
                            <mat-option value="Education Loan">Education Loan</mat-option>
                            <mat-option value="Personal Loan">Personal Loan</mat-option>
                            <mat-option value="Home Loan">Home Loan</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <textarea matInput placeholder="Description" [(ngModel)]="applicant.descriptions"
                            name="descriptions" matInput rows="5"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="info-column">

                <div id="address">
                    <p>Address</p>
                    <mat-form-field appearance="outline">
                        <mat-label>Address Line 1</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.addressLine1" name="addressLine1"
                            maxlength="255" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Address Line 2</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.addressLine2" name="addressLine2"
                            maxlength="255">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.city" name="city" maxlength="255" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.stateName" name="stateName" maxlength="255" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Postal Code</mat-label>
                        <input matInput type="number" [(ngModel)]="applicant.postalCode" name="postalCode" required>
                    </mat-form-field>
                </div>

                <div id="contact">
                    <p>Contact Information</p>
                    <mat-form-field appearance="outline">
                        <mat-label>Home Number</mat-label>
                        <input matInput type="number" [(ngModel)]="applicant.homePhone" name="homePhone" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Office Number</mat-label>
                        <input matInput type="number" [(ngModel)]="applicant.office" name="office">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput type="number" [(ngModel)]="applicant.mnumber" name="mnumber" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email address</mat-label>
                        <input matInput type="string" [(ngModel)]="applicant.email" name="email" required>
                    </mat-form-field>
                </div>

            </div>
        </div>

        <div id="form-row2">
            <div class="info-column">
                <div id="employee">

                    <p>Work Details</p>

                    <mat-form-field appearance="outline">
                        <mat-label>Employer name</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.employerName" name="employerName"
                            maxlength="255" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Annual salary</mat-label>
                        <input matInput type="number" [(ngModel)]="applicant.annualSalary" name="annualSalary" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Work Experience - Year</mat-label>
                        <input matInput type="number" [(ngModel)]="applicant.workExperienceYear"
                            name="workExperienceYear" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Work Experience - Month</mat-label>
                        <input matInput type="number" [(ngModel)]="applicant.workExperienceMonth"
                            name="workExperienceMonth" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Designation</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.designition" name="designition"
                            maxlength="255">
                    </mat-form-field>
                </div>
            </div>

            <div class="info-column">

                <div id="eaddress">
                    <p> Employee Address</p>
                    <mat-form-field appearance="outline">
                        <mat-label>Address Line 1</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.employerAddressLine1"
                            name="employerAddressLine1" maxlength="255" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Address Line 2</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.employerAddressLine2"
                            name="employerAddressLine2" maxlength="255" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.employerCity" name="employerCity"
                            maxlength="255" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <input matInput type="text" [(ngModel)]="applicant.employerStateName" name="employerStateName"
                            maxlength="255" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Postal Code</mat-label>
                        <input matInput type="number" [(ngModel)]="applicant.employerPostalCode"
                            name="employerPostalCode" required>
                    </mat-form-field>
                </div>

            </div>

        </div>

        <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
</div>