<!--<div>
    <div>
        <mat-toolbar color="primary">
            <button routerLink="/" mat-raised-button color="primary">Home</button>
            <button routerLink="/submitloan" mat-raised-button color="primary">Submit Loan</button>
            <button routerLink="/applications" mat-raised-button color="primary">View Applications</button>
        </mat-toolbar> 
    </div>
    <header>
        <div class="container">
            <div id="outerbox">
                <div id="sliderbox">
                    <img src="../assets/images/home.gif" alt="Dream Home">
                    <img src="../assets/images/car.gif" alt="Dream Car">
                    <img src="../assets/images/vacation.gif" alt="Dream Vacation">
                </div>
            </div>
            <div class="middlebar">
                    <img src="assets/images/sv.png" alt="SV Bank" width="10%" height="100px">
                    
                </div>
                <p> Welcome to SV Bank Loan processing system. Now get your
                    loan approved immediately using this cool and fully
                    automated application.
                </p>
                
            <nav>
            
         </nav>
        </div>
     </header>
    <router-outlet></router-outlet>
</div>-->
<div id="home">

</div>